.footer {
    width: 100%;
    padding: 20px;
    font-size: 14px;
    line-height: 1.5;
}

.footer-content {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1000px;
}

.footer-bottom{
    border-top: 2px solid;
}

.footer-logo {
    max-width: 150px;
    align-self: center;
}

.footer-links a,
.footer-contacts a {
    text-decoration: none;
    margin: 0 10px;
}

.dark .footer-links a,
.dark .footer-contacts a {
    color: var(--text-color-dark);
}

.light .footer-links a,
.light .footer-contacts a {
    color: var(--text-color-light);
}

.footer-nav,
.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-contacts a {
    color: inherit;
    transition: color 0.3s ease;
}

.footer-social a {
    color: inherit;
    font-size: 24px;
}

.footer-social {
    display: flex;
    /*gap: 10px;*/
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
    color: inherit;
}

.footer-bottom p {
    margin-top: 20px;
    font-size: 14px;
}
.footer-bottom a{
    transition: color 0.3s ease;
    text-decoration: none;
}

.dark .footer-bottom a{
    color: var(--text-color-dark);
}

.light .footer-bottom a{
    color: var(--text-color-light);
}

.footer-nav button {
    background-color: transparent;
    border: none;
    color: inherit;
    padding: 5px 10px;
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: none;
    font-size: 16px;
}
.footer-bottom a:hover,
.footer-nav button:hover,
.footer-contacts a:hover{
    color: #df5500;
}

.footer-bottom p{
    margin: 5px 0 0;
}

.footer{
    padding-bottom: 5px;
}

@media (min-width: 768px) {
    .footer-content {
        flex-direction: row;
        align-items: start;
    }

    .footer-nav {
        grid-template-columns: repeat(2, auto);
    }

    .footer-contacts {
        align-items: flex-start;
    }
}

@media (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: calc(100vh - 50px);
        padding: 20px 0;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        flex: 1;
    }

    .footer-logo {
        max-width: 200px;
        margin-bottom: 0;
    }


    .footer-nav {
        flex-direction: column;
        justify-content: space-between;
    }

    .footer-contacts{
        gap:0;
    }

    .footer-links a,
    .footer-contacts a {
        margin: 5px;
    }

    .footer-social {
        display: flex;
        gap: 20px;
    }
}